<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<form action="/login" method="POST">
    <div>
        <div>
            <label for='email'>Email</label>
            <input type="email" name="email" required/>
        </div>
        
        <div>
            <label for='password'>Password</label>
            <input type="password" name="password" required/>
        </div>
        
        <div>
            <button type="submit">Login</button>
        </div>
        
        <a href="/signup">signup</a>
    </div>

</form>